# Server Environment Variables
PORT=4000
NODE_ENV=production

# Frontend URL (for CORS)
FRONTEND_URL=https://tracebackctf.vercel.app

# Firebase Admin SDK
FIREBASE_PROJECT_ID=traceback-ctf-201a3
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@traceback-ctf-201a3.iam.gserviceaccount.com

# Other environment variables your app needs